[Unit]
Description=Docker Private Registry Service
After=docker.service

[Service]
ExecStartPre=-/usr/bin/docker kill registry
ExecStartPre=-/usr/bin/docker rm registry
ExecStartPre=-/usr/bin/docker volume create --driver rexray --opt size=10 {{ volume_name }}
ExecStartPre=/usr/bin/docker pull registry:2
ExecStart=/usr/bin/docker run --name registry \
  -v {{ volume_name }}:/var/lib/registry \
  -p 0.0.0.0:5000:5000 \
  -e REGISTRY_PROXY_REMOTEURL=https://registry-1.docker.io \
  registry:2

ExecStop=-/usr/bin/docker stop registry
Restart=always
RestartSec=10s
TimeoutStartSec=300s

[Install]
WantedBy=multi-user.target
